@charset "utf-8";
html {
    -ms-touch-action: none;
}
body,
div,
h1,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    border: none;
    outline: none;
}
img {
    display: block;
    border:none;
}
body {
	width: 100%;
    *cursor: default;
	overflow: hidden;
	font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
}
#canvas{
	display: block;
}
#pageContain {
	overflow: hidden;
	display: none;
}
.page {
    box-shadow: 1px 1px 4px 0 #000;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.contain {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	z-index: 0;
/*    padding-top: 70px;*/
}
.current .contain,.slide .contain {
	display: block;
}
.current {
	display: block;
	z-index: 1;
}
.slide {
	display: block;
	z-index: 2;
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
}
.page1{
	background-color: #fffae7;
}
.page1 > .contain{
	background: url(../img/pig.jpg);
	background-size: 100% 100%;
	-webkit-animation: moveUp 7s ease-out 0s;
	animation: moveUp 7s ease-out 0s;
}
@keyframes moveUp{
	0%{
		top: 70px;
	}
	80%{
		top: 70px;
	}
	100%{
		top: 0px;
	}
}
@-webkit-keyframes moveUp{
	0%{
		top: 70px;
	}
	80%{
		top: 70px;
	}
	100%{
		top: 0px;
	}
}

.start{
	color: #cc3399;
	font-size: 2.0rem;
	text-align: center;
	position: relative;
	top: 50px;
	opacity: 0;
	font-weight: bold;
	padding-left: 10%;
	-webkit-animation: disappear 4.5s ease-out 0s;
	animation: disappear 4.5s ease-out 0s;
}
@keyframes disappear{
	0%{
		opacity:1;
	}
	/*50%{
		opacity: 1;
	}*/
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes disappear{
	0%{
		opacity: 1;
	}
	/*50%{
		opacity: 1;
	}*/
	100%{
		opacity: 0;
	}
}

.congrat{
	color: #ff9900;
	text-align: center;
	position: relative;
	width: 260px;
	left: 50%;
	top: 40px;
	margin-left: -130px;
	font-size: 1.5rem;
	opacity: 1;
	-webkit-animation: show 15s ease-out 0s;
	animation: show 15s ease-out 0s;
}
@keyframes show{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes show{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/*page1 ended page2 begins*/

.page2 {
	background:#2196F3;
	/*color: #D23F0B;*/
	color: #ffff00;
}

.suncon{
	position: relative;
	z-index: 10;
	-webkit-animation: moveRight 1s linear 0s;
	animation: moveRight 1s linear 0s;
}
@-webkit-keyframes moveRight{
	0%{
		left: -50%;
	}
	100%{
		left: 0%;
	}
}
@keyframes moveRight{
	0%{
		left: -50%;
	}
	100%{
		left: 0%;
	}
}

.sun{
	position: relative;
	width: 120px;
	height: 120px;
	-webkit-animation: rotate 3s linear 1s infinite;
	animation: rotate 3s linear 1s infinite;
}
@-webkit-keyframes rotate {
  from {
  	-webkit-transform:rotate(0deg);
  	transform: rotate(0deg);
  }
  to {
  	-webkit-transform:rotate(360deg);
  	transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
  	-webkit-transform:rotate(0deg);
  	transform: rotate(0deg);
  }
  to {
  	-webkit-transform:rotate(360deg);
  	transform: rotate(360deg);
  }
}
.cloud0{
	position: absolute;
	height: 65px;
	top: 10%;
	left: 17%;
	-webkit-animation: cloudMove 7s linear 2s infinite;
	animation: cloudMove 7s linear 2s infinite;
}
.cloud1{
	position: absolute;
	height: 55px;
	top: 8%;
	left: 40%;
	-webkit-animation: cloudMove 7s linear 5s infinite;
	animation: cloudMove 7s linear 5s infinite;
}
.cloud2{
	position: absolute;
	height: 58px;
	top: 12%;
	left: 80%;
}
@-webkit-keyframes cloudMove {
  from {
  	-webkit-transform:translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
  to {
  	-webkit-transform:translateX(30px);
  	transform: translateX(30px);
  	opacity: 0;
  }
}
@keyframes rotate {
  from {
  	-webkit-transform:rotate(0deg);
  	transform: rotate(0deg);
  }
  to {
  	-webkit-transform:rotate(360deg);
  	transform: rotate(360deg);
  }
}

.page2 > .contain p{
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 2.4rem;
}


.topLine{
	text-align: center;
}

.line1{
	margin-top: 5%;
	animation: lineMovel 2.5s ease-in 0s;
	-webkit-animation: lineMovel 2.5s ease-in 0s;
}
@keyframes lineMovel{
  0%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  	opacity: 0;
  }
  80%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  	opacity: 0;
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
}
@-webkit-keyframes lineMovel{
  0%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  	opacity: 0;
  }
  80%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  	opacity: 0;
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
}

.line2{
	animation: lineMovell 3.5s ease-in 0s;
	-webkit-animation: lineMovell 3.5s ease-in 0s;
}
@keyframes lineMovell{
  0%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  	opacity: 0;
  }
  80%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  	opacity: 0;
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
}
@-webkit-keyframes lineMovell{
  0%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  	opacity: 0;
  }
  80%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  	opacity: 0;
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
}

.botLine{
	/*margin-left: 1rem;*/
	text-align: center;
}

.line3{
	/*margin-top: 50px;*/
	animation: lineMover 4s ease-in 0s;
	-webkit-animation: lineMover 4s ease-in 0s;
}
@keyframes lineMover{
  0%{
  	-webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	opacity: 0;
  }
  70%{
  	-webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	opacity: 0;
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
}
@-webkit-keyframes lineMover{
  0%{
  	-webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	opacity: 0;
  }
  70%{
  	-webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	opacity: 0;
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
}

.line4{
	animation: lineMoverr 5s ease-in 0s;
	-webkit-animation: lineMoverr 5s ease-in 0s;
}
@keyframes lineMoverr{
  0%{
  	-webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	opacity: 0;
  }
  70%{
  	-webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	opacity: 0;
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
}
@-webkit-keyframes lineMoverr{
  0%{
  	-webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	opacity: 0;
  }
  70%{
  	-webkit-transform: translateX(-100%);
  	transform: translateX(-100%);
  	opacity: 0;
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  	opacity: 1;
  }
}
.tree{
	position: absolute;
	right: 20%;
	bottom: 0%;
	width: 170px;
	z-index: -10;
}

.mousecon{
	position: absolute;
	/*height: 100px;*/
	right: 0;
	bottom: 0;
	animation: moveLeft 2s ease-in 0s;
	-webkit-animation: moveLeft 2s ease-in 0s;
}
@keyframes moveLeft{
  0%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  }
  60%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  }
}
@-webkit-keyframes moveLeft{
  0%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  }
  60%{
  	-webkit-transform: translateX(100%);
  	transform: translateX(100%);
  }
  100%{
  	-webkit-transform: translateX(0px);
  	transform: translateX(0px);
  }
}

.mouse{
	height: 100px;
	-webkit-animation: shake 0.5s linear 2s infinite alternate;
	animation: shake 0.5s linear 2s infinite alternate;
}
@-webkit-keyframes shake {
  from {
  	-webkit-transform:rotate(0deg);
  	transform: rotate(0deg);
  }
  to {
  	-webkit-transform:rotate(-10deg);
  	transform: rotate(-10deg);
  }
}
@keyframes shake {
  from {
  	-webkit-transform:rotate(0deg);
  	transform: rotate(0deg);
  }
  to {
  	-webkit-transform:rotate(-10deg);
  	transform: rotate(-10deg);
  }
}

/*page2 ended page3 begins*/

.page3{
  background: #6666cc;
}

.page3 > p{
  color: #ffff33;
  position: absolute;
  width: 250px;
  height: 30px;
  font-size: 1.5rem;
  top: 40%;
  margin-top: -15px;
  left: 50%;
  margin-left: -125px;
  text-align: center;
  -webkit-animation: page3Show 3s ease-out 0s;
  animation: page3Show 3s ease-out 0s;
}
@-webkit-keyframes page3Show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes page3Show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.page4{
  background: #f6bb43;
}

.page4 > p{
  color: #e13b00;
  font-weight: bolder;
  position: absolute;
  width: 250px;
  height: 30px;
  font-size: 1.5rem;
  top: 40%;
  margin-top: -15px;
  left: 50%;
  margin-left: -125px;
  text-align: center;
  -webkit-animation: page4Show 1.5s ease-out 0s;
  animation: page4Show 1.5s ease-out 0s;
}
@-webkit-keyframes page4Show {
  0%{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  10%{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  90%{
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 1;
  }
  100%{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes page4Show {
  0%{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  10%{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  90%{
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
    opacity: 1;
  }
  100%{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}


.page5{
  background: #0099cc;
}

.page5 > p{
  color: #ffff00;
  position: absolute;
  width: 250px;
  height: 30px;
  font-size: 1.5rem;
  top: 40%;
  margin-top: -15px;
  left: 50%;
  margin-left: -125px;
  text-align: center;
  -webkit-animation: page5Show 1.5s ease-out 0s;
  animation: page5Show 1.5s ease-out 0s;
}
@-webkit-keyframes page5Show {
  0%{
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
    opacity: 0;
  }
  10%{
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
  }
  90%{
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
    opacity: 1;
  }
  100%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes page5Show {
  0%{
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
    opacity: 0;
  }
  10%{
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
  }
  90%{
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
    opacity: 1;
  }
  100%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.page6{
  background: #ffff66;
}
.page6Content{
  color: #ff0033;
  font-size: 1.5rem;
  font-size: 2.7rem;
  text-align: center;
  margin-top: 33%;
}
.page6Content > p{
  line-height: 6.0rem;
  font-weight: bolder;
}
.chinese{
  display: inline-block;
  -webkit-animation: chineseShow 1.5s ease-in 0s;
  animation: chineseShow 1.5s ease-in 0s;
}
.exclamation{
  display: inline-block;
  -webkit-animation: exclamationShow 2.0s ease-out 0s;
  animation: exclamationShow 2.0s ease-out 0s;
}
.comeon{
  position: fixed;
  left: 50%;
  margin-left: -64px;
  top: 55%;
  margin-top: -64px;
}
@-webkit-keyframes chineseShow {
  0%{
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
  80%{
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
  }
  100%{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes chineseShow {
  0%{
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
  80%{
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
  }
  100%{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes exclamationShow {
  0%{
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%);
  }
  70%{
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  90%{
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes exclamationShow {
  0%{
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%);
  }
  70%{
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  90%{
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}


.page7 {
	background: #332E42;
}
.balloon{
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	left: 48%;
	-webkit-animation: shade 4s linear 0s;
	animation: shade 4s linear 0s;
}
@-webkit-keyframes shade {
  from {
  	opacity: 0
  }
  to {
  	opacity: 1
  }
}
@keyframes shade {
  from {
  	opacity: 0;
  }
  to {
  	opacity: 1;
  }
}

.cake{
	position: absolute;
	display: inline-block;
	height: 190px;
	top: 50%;
	margin-top: -85px;
	left: 50%;
	margin-left: -90px;
}
.mouse2{
	position: absolute;
	display: inline-block;
	height: 100px;
	left: 0;
	bottom: 0;
	-webkit-animation: jump .3s linear 0s infinite alternate;
	animation: jump .3s linear 0s infinite alternate;
}
.mouse3{
	position: absolute;
	display: inline-block;
	height: 100px;
	right: 0;
	bottom: 0;
	-webkit-animation: jump .3s linear .15s infinite alternate;
	animation: jump .3s linear .15s infinite alternate;
}
@-webkit-keyframes jump {
  from {
  	-webkit-transform:translateY(-10px);
  	transform: translateY(-10px);
  }
  to {
  	-webkit-transform:translateY(0px);
  	transform: translateY(0px);
  }
}
@keyframes jump {
  from {
  	-webkit-transform:translateY(-10px);
  	transform: translateY(-10px);
  }
  to {
  	-webkit-transform:translateY(0px);
  	transform: translateY(0px);
  }
}

.star0{
	position: absolute;
	height: 30px;
	top: 10%;
	left: 25%;
	-webkit-animation: shade 4s linear 0s infinite alternate;
	animation: shade 4s linear 0s infinite alternate;
}
.star1{
	position: absolute;
	height: 8px;
	top: 10%;
	left: 60%;
	-webkit-animation: shade 3s linear 0.3s infinite alternate;
	animation: shade 3s linear 0.3s infinite alternate;
}
.star2{
	position: absolute;
	height: 14px;
	top: 10%;
	left: 40%;
	-webkit-animation: shade 2s linear 0.8s infinite alternate;
	animation: shade 2s linear 0.8s infinite alternate;
}
.star3{
	position: absolute;
	height: 10px;
	top: 5%;
	left: 8%;
	-webkit-animation: shade 1s linear 0.5s infinite alternate;
	animation: shade 1s linear 0.5s infinite alternate;
}
.star4{
	position: absolute;
	height: 8px;
	top: 12%;
	left: 18%;
	-webkit-animation: shade 1.5s linear 1.2s infinite alternate;
	animation: shade 1.5s linear 1.2s infinite alternate;
}
.star5{
	position: absolute;
	height: 3px;
	top: 6%;
	left: 50%;
	-webkit-animation: shade 2.0s linear 1.5s infinite alternate;
	animation: shade 2.0s linear 1.5s infinite alternate;
}
.star6{
	position: absolute;
	height: 17px;
	top: 17%;
	left: 45%;
	-webkit-animation: shade 4s linear 0.9s infinite alternate;
	animation: shade 4s linear 0.9s infinite alternate;
}
.star7{
	position: absolute;
	height: 7px;
	top: 7%;
	left: 75%;
	-webkit-animation: shade 1.6s linear 2s infinite alternate;
	animation: shade 1.6s linear 2s infinite alternate;
}
.star8{
	position: absolute;
	height: 3px;
	top: 6%;
	left: 85%;
	-webkit-animation: shade 3s linear 1.4s infinite alternate;
	animation: shade 3s linear 1.4s infinite alternate;
}
.star9{
	position: absolute;
	height: 9px;
	top: 17%;
	left: 80%;
	-webkit-animation: shade 2.5s linear 3s infinite alternate;
	animation: shade 2.5s linear 3s infinite alternate;
}
.starPathcon{
	position: relative;
	display: inline-block;
	height: 28px;
	top: -17%;
	left: 10%;
	-webkit-animation: moving 20s linear 0s infinite ;
	animation: moving 20s linear 0s infinite ;
}
.starPath{
	height: 28px;
}
@-webkit-keyframes moving {
  0%{
  	-webkit-transform:translateY(0px) translateX(0px);
  	transform: translateY(0px) translateX(0px);
  	/*-webkit-transform:translateX(0px);
  	transform: translateX(0px);*/
  	opacity: 1;
  }
  20%{
  	-webkit-transform:translateY(250px) translateX(-300px);
  	transform: translateY(250px) translateX(-300px);
  	/*-webkit-transform:translateX(-100px);
  	transform: translateX(-100px);*/
  	opacity: 0;
  }
  40%{
  	-webkit-transform:translateY(350px) translateX(-10px);
  	transform: translateY(350px) translateX(-10px);
  	/*-webkit-transform:translateX(-10px);
  	transform: translateX(-10px);*/
  	opacity: 1;
  }
  60%{
  	-webkit-transform:translateY(200px) translateX(30px);
  	transform: translateY(200px) translateX(30px);
  	/*-webkit-transform:translateX(30px);
  	transform: translateX(30px);*/
  	opacity: 0;
  }
  80%{
  	-webkit-transform:translateY(50px) translateX(15px);
  	transform: translateY(50px) translateX(15px);
  	/*-webkit-transform:translateX(15px);
  	transform: translateX(15px);*/
  	opacity: 1;
  }
  100%{
  	-webkit-transform:translateY(0px) translateX(0px);
  	transform: translateY(0px) translateX(0px);
  	/*-webkit-transform:translateX(0px);
  	transform: translateX(0px);*/
  	opacity: 1;
  }
}
@keyframes moving {
  0%{
  	-webkit-transform:translateY(0px) translateX(0px);
  	transform: translateY(0px) translateX(0px);
  	/*-webkit-transform:translateX(0px);
  	transform: translateX(0px);*/
  	opacity: 1;
  }
  20%{
  	-webkit-transform:translateY(250px) translateX(-300px);
  	transform: translateY(250px) translateX(-300px);
  	/*-webkit-transform:translateX(-100px);
  	transform: translateX(-100px);*/
  	opacity: 0;
  }
  40%{
  	-webkit-transform:translateY(350px) translateX(-10px);
  	transform: translateY(350px) translateX(-10px);
  	/*-webkit-transform:translateX(-10px);
  	transform: translateX(-10px);*/
  	opacity: 1;
  }
  60%{
  	-webkit-transform:translateY(200px) translateX(30px);
  	transform: translateY(200px) translateX(30px);
  	/*-webkit-transform:translateX(30px);
  	transform: translateX(30px);*/
  	opacity: 0;
  }
  80%{
  	-webkit-transform:translateY(50px) translateX(15px);
  	transform: translateY(50px) translateX(15px);
  	/*-webkit-transform:translateX(15px);
  	transform: translateX(15px);*/
  	opacity: 1;
  }
  100%{
  	-webkit-transform:translateY(0px) translateX(0px);
  	transform: translateY(0px) translateX(0px);
  	/*-webkit-transform:translateX(0px);
  	transform: translateX(0px);*/
  	opacity: 1;
  }
}




