@charset "utf-8";
html {
    -ms-touch-action: none;
}
body,
div,
h1,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    border: none;
    outline: none;
}
img {
    display: block;
    border:none;
}
body {
	width: 100%;
    *cursor: default;
	overflow: hidden;
	font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
}
canvas{
	display: block;
}
#pageContain {
	overflow: hidden;
	display: none;
}
.page {
    box-shadow: 1px 1px 4px 0 #000;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.contain {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	z-index: 0;
/*    padding-top: 70px;*/
}
.current .contain,.slide .contain {
	display: block;
}
.current {
	display: block;
	z-index: 1;
}
.slide {
	display: block;
	z-index: 2;
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms !important;
    -webkit-transition-duration: 0ms !important;
}
.page1{
	background-color: #fffae7;
}
.page1 > .contain{
	background: url(../img/pig.jpg);
	background-size: 100% 100%;
	-webkit-animation: moveUp 7s ease-out 0s;
	animation: moveUp 7s ease-out 0s;
}
@keyframes moveUp{
	0%{
		top: 70px;
	}
	80%{
		top: 70px;
	}
	100%{
		top: 0px;
	}
}
@-webkit-keyframes moveUp{
	0%{
		top: 70px;
	}
	80%{
		top: 70px;
	}
	100%{
		top: 0px;
	}
}

.start{
	color: #cc3399;
	font-size: 2.0rem;
	text-align: center;
	position: relative;
	top: 50px;
	opacity: 0;
	font-weight: bold;
	padding-left: 10%;
	-webkit-animation: disappear 4.5s ease-out 0s;
	animation: disappear 4.5s ease-out 0s;
}
@keyframes disappear{
	0%{
		opacity:1;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes disappear{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.congrat{
	text-align: center;
	position: relative;
	width: 260px;
	left: 50%;
	top: 40px;
	margin-left: -130px;
	font-size: 1.5rem;
	opacity: 1;
	-webkit-animation: show 15s ease-out 0s;
	animation: show 15s ease-out 0s;
}
@keyframes show{
	0%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes show{
	0%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.page2 {
	background: #2f2f2f;
}
.page3 {
	background: #fff;
}
.page4 {
	background: #3c8847;
}



